@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@500&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.form-register {
  transform: translateX(-100%);
  z-index: -1;
  opacity: 0;
}

.form-overlay {
  transform: translateX(100%);
}

.login-container.toggle .form-overlay {
  transform: translateX(0%);
}

.login-container.toggle .form-login {
  transform: translateX(100%);
  z-index: -1;
  opacity: 0;
}

.login-container.toggle .form-register {
  transform: translateX(0%);
  z-index: 1;
  opacity: 1;
  transition: 1s;
}

@media(max-width: 768px) {
  .login-container.toggle .form-register {
    transform: translateX(0%);
    position: absolute;
  }
}


/*? Autocomplete - webkit */

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus {
  -webkit-text-fill-color: #EA580C;
  -webkit-box-shadow: 0 0 0px 1000px #0F172A inset;
  transition: background-color 5000s ease-in-out 0s;
}

input {
  caret-color: #EA580C;
}

/*? Wave */
.wave > div {
  width: 1500px;
  height: 1300px;
  margin-left: -150px;
  margin-top: -250px;
  transform-origin: 50% 48%;
  border-radius: 43%;
  opacity: 0.4;

  position: fixed;
  top: 3%;
  left: 10%;
}

.wave--one {
  background: #0af;
  animation: drift 7000ms infinite linear;
}

.wave--two {
  animation: drift 3000ms infinite linear;
  opacity: 0.1;
  background: black;
}

.wave--three {
  animation: drift 7500ms infinite linear;
  background-color: #0F172A;
}

@keyframes drift {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}