@tailwind base;
@tailwind components;
@tailwind utilities;

.form-register {
  transform: translateX(-100%);
  z-index: -1;
  opacity: 0;
}

.form-overlay {
  transform: translateX(100%);
}

.login-container.toggle .form-overlay {
  transform: translateX(0%);
}

.login-container.toggle .form-login {
  transform: translateX(100%);
  z-index: -1;
  opacity: 0;
}

.login-container.toggle .form-register {
  transform: translateX(0%);
  z-index: 1;
  opacity: 1;
  transition: 1s;
}

@media(max-width: 768px) {
  .login-container.toggle .form-register {
    transform: translateX(0%);
    position: absolute;
  }
}